head
  title Subpage
  include includes/head.jade
body
  .main
    include includes/topbar.jade
    
    #delta.content-area
      .delta_banner
      hr#divline

      #intro
        h2 Start on the road to recovery

        p Recovery from substance abuse is possible. This September, celebrate National Recovery Month and understand the dental connection.

      #delta_resources
        #articles.resource
          .category
            h4 Articles
          .entries
            .item
              h4 Your teeth on drugs
              p What do street drugs like meth and cocaine do to your mouth?
              a(href="https://www.deltadentalins.com/oral_health/drugs.html") >> Understand the impact of drugs
            .item
              h4 Teens and dental opioids
              p Does your teen need Vicodin after getting her wisdom teeth removed?
              a(href="https://www.deltadentalins.com/oral_health/teens-and-dental-opioids.html") >> Protect teens from addiction
            .item
              h4  5 myths about alcohol  
              p Learn how drinking alcohol affects your oral health.
              a(href="https://www.deltadentalins.com/oral_health/5-myths-about-alcohol-consumption-and-your-oral-health.html") >> Sort facts from fiction
            .item
              h4  How to recover from oral surgery  
              p Follow these do’s and don’ts to ensure a quick recovery from oral surgery.
              a(href="https://www.deltadentalins.com/oral_health/oral_surgery.html") >> Learn how to treat the pain

        //- #recipes.resource
          .category
            h4 Recipe
          .entries
            .item
              h4 Banana nut muffins
              p These tasty muffins are packed with energy-boosting nuts and fruit.
              img(src="https://www.deltadentalins.com/_assets/pictures/oral-health/banana-nut-muffins.jpg")
              a(href="https://www.deltadentalins.com/oral_health/banana-nut-muffins.html") >> Get the recipe
        //- #flyer.resource
          .category
            h4 Flyer
          .entries
            .item
              h4 Are you at risk for oral cancer? 
              p This deadly disease can appear in the mouth or throat.
              a(href="https://www.deltadentalins.com/oral_health/oral_cancer-8x11.pdf") >> Download the flyer 
        //- #poster.resource
          .category
            h4 Poster
          .entries
            .item
              h4 Kids at risk
              p About 2.7 million kids are considered high risk for cavities. Here’s what you can do.
              a(href="https://www.deltadentalins.com/oral_health/right-road-to-avoid-cavities-11x17.pdf")>> Download the flyer 
        //- #activity.resource
          .category
            h4 Activity Book
          .entries
            .item
              h4 Book Grin for Kids
              p This printable activity book is packed with crafts, puzzles and coloring pages.
              a(href="https://www.deltadentalins.com/documents/grin/grin-for-kids-2019.pdf") >> Download the 2019 issue
        #video.resource
          .category
            h4 Video
          .entries
            .item
              h4 Healthy body, healthy teeth
              p Your overall wellness can affect the health of your teeth.          
              a(href="https://www.youtube.com/watch?v=cygNCkSyrn4") 
                |#[img(src="https://www.deltadentalins.com/_assets/pictures/oral-health/pumpkin-soup.jpg" style="display: block;")] >> Watch the video

