head
  title Sandbox
  include includes/head.jade

body
  .main
    include includes/topbar.jade
    #leftsidebar

      #shinstar
        #qtr
          span 3rd Quarter 2019 Shining Stars
          
        #recipbox.slideVehicle
          
          .recip.slideItem
            .starcat
              .catribbon
                span Problem Solver
            ul
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]

          .recip.slideItem
            .starcat
              .catribbon
                span Above and Beyond
            ul
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]

          .recip.slideItem
            .starcat
              .catribbon
                span Team Player
            ul
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
          
          .recip.slideItem
            .starcat
              .catribbon
                span Just Because
            ul
              li #[span Marlin Blue]
              li #[span Kobe Bryant]
              li #[span Goku]

          .recip.slideItem
            .starcat
              .catribbon
                span Just Because
            ul
              li #[span Marlin Blue]
              li #[span Kobe Bryant]
              li #[span Goku]

          .recip.slideItem
            .starcat
              .catribbon
                span Above and Beyond
            ul
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]

          .recip.slideItem
            .starcat
              .catribbon
                span Team Player
            ul
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
              li #[span Jane Doe]
              li #[span Shelly Mann]
              li #[span Mark Person]
      
      #spotlight
        h4 Employee Spotlight
        #spotlight_slideshow.slideVehicle

          .entryslide.slideItem
            .spotlight-wrap
              img.spotlight-img(src="/images/sp1.png", alt="")
              span.spotlight-name Spotlight Name
              .spotlight-badge 
                span Just Because Badge
                img(src="/images/badge.png", alt="")

          .entryslide.slideItem
            .spotlight-wrap
              img.spotlight-img(src="/images/sp1.png", alt="")
              span.spotlight-name Spotlight Name
              .spotlight-badge 
                span Just Because Badge
                img(src="/images/badge.png", alt="")

          //- .entryslide.slideItem
            img.spotlight-img(src="/images/sp1.png", alt="")
            span.spotlight-name Spotlight Name
            .spotlight-badge 
              span Just Because Badge
              img(src="/images/badge.png", alt="")


  script(type="text/javascript" src="js/script.js")
