head
  title Subpage
  include includes/head.jade
  body
    .main
      include includes/topbar.jade
      
      #HA-article
        img(src="http://www.healthadvocate.com/emails/NutritionTools/HALogoKO_203px.png")#HA-logo
        section.HA-banner(style="background-image: url('https://www.healthadvocate.com/emails/openenrollment/2021/2006027-HealthFair-HEAD.jpg')")
        section.HA-body
          h3 Your health is important—now more than ever. That's why your employer teamed up with Health Advocate!
          p Access personal health and well-being support anytime, anywhere. Visit our website or app to:
          .HA-flex.col2
            div
              span Learn more about your Health Advocate services
            div
              span Connect with a Health Advocate expert
          a(href="https://healthadvocate.personaladvantage.com/portal/landing?a=1")  
            img(src="https://www.healthadvocate.com/emails/openenrollment/2021/2006027-HealthFair-MemberBTN.jpg")
          h3 We can help you and your eligible family members:
          img(src="https://www.healthadvocate.com/emails/openenrollment/2021/2006027-HealthFair-OEEmails_EAPCircles.jpg")
          .HA-flex.center
            h3 Watch to learn more!
            a(href="http://www.healthadvocate.com/video/HA-M-2007022-EAP.html")
              img(src="https://www.healthadvocate.com/emails/openenrollment/2021/2006027-2EML_VideoThumbs_EAP.jpg")
          .HA-flex.2col
            div
              span.bold Visit our COVID-19 Resource Center
              p Access tips, trusted resources, webinars and more to help you navigate this challenging time
              a(href="https://www.healthadvocate.com/site/coronavirus")
                img(src="https://www.healthadvocate.com/emails/openenrollment/2021/2006027-HealthFair-LearnMore.jpg")
            div
              span.bold Visit the COVID-19 page on our blog
              p Read articles that can help you improve your well-being during the COVID-19 pandemic
              a(href="http://blog.healthadvocate.com/category/covid-19/")
                img(src="https://www.healthadvocate.com/emails/openenrollment/2021/2006027-HealthFair-LearnMore.jpg")
        section.HA-banner(style="background-image: url('https://www.healthadvocate.com/emails/openenrollment/2021/2006027-HealthFair-IMGBanner.jpg')")
        section.HA-footer
          span(style="color: #00adef; font-weight: bold; padding: 0;") Start your journey to better health
          p(style="color: #00adef; font-weight: bold; padding: 0;")  877.240.6863 • #[a(href="http://www.healthadvocate.com/sussexcountyde") www.HealthAdvocate.com/sussexcountyde]
          p(style="font-size: 14px;") #[span.bold We&apos;re here when you need us most] Your Health Advocate services can be accessed 24/7. Normal hours of operation are Monday – Friday from 8 AM to 10 PM, Eastern Time. Staff is available for assistance after hours and on weekends. #[span.bold In a crisis, help is available 24/7.]
      