.topbar  
  ul
    li #[a(href="/" class="hvrunderline1") Home]
    li #[a(href="/subpage.html" class="hvrunderline1") Subpage]
    li #[a(href="/subpage.html" class="hvrunderline1") External Login]
    li #[a(href="/delta-newsletter.html" class="hvrunderline1") Delta Newsletter]